p {
  font-family: Lato;
  padding: 0;
  border: 0;
  margin: 0;
}

.containerrrr {
  max-height: 1rem;
  width: 10rem;
  height: 1rem;
  background-color: red;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

.uwu {
  color: white;
  width: 21rem;
  background-color: blue;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
